<div
  class="border p-6 flex flex-col gap-6 items-center shadow-sm rounded-md px-10"
>
  <h1>Input Form</h1>
  <mat-form-field class="w-full">
    <mat-label>User Name*</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="userName"
      placeholder="Enter your name"
    />
    @if (userName) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="userName = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Select Workout</mat-label>
    <mat-select [(ngModel)]="selectedWorkout">
      @for (workout of workoutOptions; track workout) {
      <mat-option [value]="workout">{{ workout }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Workout Minutes*</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="workoutMinutes"
      placeholder="Enter workout minutes"
    />
    @if (workoutMinutes !== null) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="workoutMinutes = null"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
